<extend name="Public:base"/>
<block name="nav">
	<include file="Public:nav" />
</block>
<block name="jank_css">
	<style type="text/css">
.about_p{
	margin-top: 15%;
}
</style>
</block>
<block name="more">

	<div class="keypoint bg-white margin-top about">
		<div class="container">
			<div class="line-big">
				<div class="x8 padding">
					<img src="__PUBLIC__/Home/images/about1.jpg" alt="" class="img-responsive img-border radius-big"></div>
				<div class="x4 padding-big">
					<img src="__PUBLIC__/Home/images/about5.jpg" alt="" class="img-responsive img-border radius-circle">
					<h2 class="about_p text-large">青春是怎样一种誓言？不会有人知道</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="keypoint bg-white text-center margin-top">
		<h1 class="">The future has arrived it commences now.</h1>
		<small></small>
	</div>
	<div class="keypoint bg-red margin-top about">
		<div class="container">
			<div class="line">
				<div class="x4">
					<h1 class="text-white">青春不是一场简单的告白</h1>
				</div>
				<div class="x8 padding">
					<img src="__PUBLIC__/Home/images/about2.jpg" alt="" class="img-responsive radius-circle"></div>
			</div>
		</div>
	</div>
	<div class="keypoint bg-red">
		<div class="container">
			<div class="line">
				<div class="x4 padding-small bg-white">
					<img src="__PUBLIC__/Home/images/about2.jpg" alt="" class="img-responsive radius-big"></div>
				<div class="x8 padding">
					<h1 class="text-white">匆匆那年</h1>
					<h1 class="text-white">匆匆离场...</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="keypoint bg-yellow-light margin-top about">
		<div class="container">
			<div class="line-big">
				<div class="x6 padding bg-white">
					<img src="__PUBLIC__/Home/images/wenyi.jpg" alt="" class="img-responsive radius-big"></div>
				<div class="x4 x1-move padding-small bg-red margin-top">
					<img src="__PUBLIC__/Home/images/juejiang.jpg" alt="" class="img-responsive radius-big"></div>
				<div class="clearfix"></div>
				<div class="x5 padding bg-red margin-top">
					<img src="__PUBLIC__/Home/images/zhizhuo.jpg" alt="" class="img-responsive radius-big"></div>
				<div class="x6  x1-move padding bg-white">
					<img src="__PUBLIC__/Home/images/about6.jpg" alt="" class="img-responsive radius-big"></div>
			</div>
		</div>
	</div>

	<div class="keypoint margin-top about">
		<div class="container-layout">
			<div class="line">
				<div class="x12">
					<img src="__PUBLIC__/Home/images/banner3.jpg" alt="" class="img-responsive radius-big"></div>
			</div>
		</div>
	</div>
</block>