<extend name="Public:base"/>
<block name="nav">
	<include file="Public:nav" />
</block>
<block name="jank_css">
	<style type="text/css">
.about_p{
	margin-top: 15%;
}
</style>
</block>
<block name="more">

	<div class="keypoint bg-white margin-top about">
		<div class="container">
			<div class="line-big">
				<div class="x8 padding">
					<img src="__PUBLIC__/Home/images/about1.jpg" alt="" class="img-responsive img-border radius-big"></div>
				<div class="x4 padding-big">
					<img src="__PUBLIC__/Home/images/about5.jpg" alt="" class="img-responsive img-border radius-circle">
					<h2 class="about_p text-large">不是每一条路都有风向标</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="keypoint bg-white text-center margin-top">
		<h1 class="">The future has arrived it commences now.</h1>
		<small></small>
	</div>
	<div class="keypoint bg-white margin-top about">
		<div class="container">
			<div class="line-big">
				<div class="x6 padding bg-main">
					<img src="__PUBLIC__/Home/images/wanmei.jpg" alt="" class="img-responsive radius-big">
					<div class="x3 text-right">
						<h1 class="text-white">完美</h1>
					</div>
					<div class="x9 text-white margin-large-top">
						<h3 class="text-white">完美主义者，无法忍受瑕疵</h3>
					</div>
				</div>
				<div class="x4 x1-move padding-small bg-red margin-top">
					<img src="__PUBLIC__/Home/images/juejiang.jpg" alt="" class="img-responsive radius-big">
					<div class="x4 text-right">
						<h1 class="text-white">孤独</h1>
					</div>
					<div class="x8 text-white margin-large-top">
						<h4>成功不怕孤独</h4>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="x5 padding bg-red margin-top">
					<img src="__PUBLIC__/Home/images/zhizhuo.jpg" alt="" class="img-responsive radius-big">
					<div class="x3 text-right">
						<h1 class="text-white">执着</h1>
					</div>
					<div class="x9 text-white margin-large-top">
						<h4>不管路多远，我要前行</h4>
					</div>
				</div>
				<div class="x6  x1-move padding bg-main">
					<img src="__PUBLIC__/Home/images/about6.jpg" alt="" class="img-responsive radius-big">
					<div class="x3 text-right">
						<h1 class="text-white">思考</h1>
					</div>
					<div class="x9 text-white margin-large-top">
						<h4>让每一件事在做之前变得简单</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="keypoint bg-white text-center margin-top">
		<h1 class="">Aspire to inspire until I expire</h1>
		<h2>生命不止，奋斗不息</h2>
	</div>
</block>