<div class="banner hidden-l" data-style="border-white">
  <div class="carousel">

    <div class="item">

      <img src="__PUBLIC__/Home/images/1.jpg" width="100%" class="img-responsive" />
    </div>
    <div class="item">

      <img src="__PUBLIC__/Home/images/2.jpg" width="100%" class="img-responsive"/>
    </div>
    <div class="item">

      <img src="__PUBLIC__/Home/images/3.jpg" alt="" width="100%" class="img-responsive"/>
    </div>
  </div>
</div>
<br />

<div class="keypoint bg-white">
  <div class="container">
    <div class="line text-center">
      <div class="xm1 hidden-l"></div>
      <div class="xl12 xm3 text-center">
        <a href="{:U('Fream/qianduan')}">
          <img src="__PUBLIC__/Home/images/index/k-qianduan.jpg" alt="" class="radius img-responsive"></a>
      </div>
      <div class="xl12 xm8">
          <div class="margin-large-top">
              <div class="xm3 hidden-l"></div>
            <dix class="xl12 xm7">
              <h1 class="margin-large-top">快捷高效的框架</h1>
              <p>让每一个人变成优秀的前端工程师变得可能 让web开发更迅速、简单。</p>
              <a href="{:U('Fream/qianduan')}" class="button bg-main button-big margin-large-top">查看更多</a>
            </dix>
            <div class="xm2 hidden-l"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="keypoint bg">
  <div class="container">
    <div class="line text-center">
     <div class="xl12 xm8">
          <div class="margin-large-top">
          <div class="xm2 hidden-l"></div>
            <dix class="xl12 xm6">
              <h1 class="margin-large-top">了不起的框架</h1>
              <p>轻松写出优雅的代码，简单易于学习</p>
              <a href="{:U('Fream/php')}" class="button bg-main button-big margin-large-top">查看更多</a>
            </dix>
            <div class="xm4 hidden-l"></div>
          </div>
     </div>
      <div class="xl12 xm3">
        <a href="{:U('Fream/php')}">
          <img src="__PUBLIC__/Home/images/index/k-houduan.jpg" alt="" class="radius img-responsive"></a>
      </div>
     <div class="xm1 hidden-l"></div>
    </div>
  </div>
</div>
<div class="keypoint bg-white">
  <h1 class="text-center margin-bottom-big"></h1>
  <p class="text-center"></p>
  <p class="text-center"></p>
  <p class="text-center">
  </p>
  <div class="container">
    <div class="line-big text-center">
      <div class="xl6 xm3">
        <a href="{:U('Qianyan/share')}">
          <img src="__PUBLIC__/Home/images/index/kaiyuan.jpg" width="100%" class="img-responsive radius-circle" />
        </a>
        <h1>开源</h1>
        <small>开源不止需要勇气，更是一种精神</small>
        <p class="margin-top">提供最新最快的开源信息</p>
      </div>
      <div class="xl6 xm3">
        <a href="{:U('qianyan')}">
         <img src="__PUBLIC__/Home/images/index/news.jpg" width="100%" class="img-responsive radius-circle" />
        </a>
        <h1>资讯</h1>
        <small>掌握一手资料，站在资讯前沿</small>
        <p class="margin-top">提供最新最框架信息</p>
      </div>
      <div class="xl6 xm3">
        <a href="{:U('Qianyan/linux')}">
         <img src="__PUBLIC__/Home/images/index/linux.jpg" width="100%" class="img-responsive radius-circle" />
        </a>
        <h1>Linux</h1>
        <small>了不起的Linux,时刻关注</small>
        <p class="margin-top">追踪linux动态</p>
      </div>
      <div class="xl6 xm3">
        <a>
          <img src="__PUBLIC__/Home/images/index/free.jpg" width="100%" class="img-responsive radius-circle" />
        </a>
        <h1>免费</h1>
        <small>都这年代了，免费吧</small>
        <p class="margin-top">我们承诺永不收费</p>
      </div>
    </div>
    <br />
  </div>
  <div class="text-center">
    <button class="button bg-main button-big">我们提供</button>
  </div>
</div>


