<extend name="Public:base"/>
<block name="nav">
  <include file="Public:nav" />
</block>
<block name="fream">
  <!-- 内容 -->
  <div class="container">
    <div class="line-middle list">
      <h3 class="padding icon-caret-right text-red"> 前端精选</h3>
      <!-- 前端框架循环开始 -->
      <foreach name="content" item="qd">
        <div class="xl12 xs6 xm3 xb3 margin-bottom">
          <div class="media">
            <a class="img clearfix" href="{$qd.link}" target="_blank">
              <img src="{$qd.image}" class="img-responsive padding-small bg border radius-big" alt="" />
            </a>
            <div class="media-body padding-top border-bottom border-dotted"> <strong class="text-center">{$qd.name}</strong>
              <a href="{$qd.link}" target="_blank" class="button button-little bg-main margin-small">访问</a>
            </div>
          </div>
        </div>
      </foreach>
      <div class="clearfix"></div>
      <div class="line magin-top border-top">
        {$page}
      </div>
      <!-- 循环结束 -->
      <br />
    </div>
  </div>

</block>