  <extend name="Public:base"/>
  <block name="nav">
    <include file="Public:nav" />
  </block>
  <block name="zuopin">
    <!-- 轮播 -->
    <!-- 作品展示 -->
    <div class="container">
      <div class="line-middle list">
        <div class="panel">
          <div class="panel-head bg-main">前端</div>
          <div class="panel-body">
            <div class="container-layout">
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <div class="panel-foot text-right">更多</div>
        </div>
        <!-- HOUTAI -->
        <div class="panel margin-top">
          <div class="panel-head bg-main">前端</div>
          <div class="panel-body">
            <div class="container-layout">
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <div class="panel-foot text-right">更多</div>
        </div>
        <!-- 案例 -->
        <div class="panel margin-top">
          <div class="panel-head bg-main">前端</div>
          <div class="panel-body">
            <div class="container-layout">
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top"> <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
              <div class="xl12 xs6 xm3 xb3">
                <div class="media padding border-main bg-gray">
                  <a class="img clearfix" href="http://c.pintuer.com/" target="_blank">
                    <img src="__PUBLIC__/Home/images/pintu01.jpg" class="img-responsive padding-small bg border" alt="拼图响应式网站" />
                  </a>
                  <div class="media-body padding-top">
                    <strong>拼图响应式网站C</strong>
                    <a href="http://c.pintuer.com/" target="_blank" class="button button-little bg-main margin-small-top">访问</a>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <div class="panel-foot text-right">更多</div>
        </div>
      </div>
    </div>
  </block>