    <div class="lefter">
        <div class="logo">
            <a href="http://www.jankz.com" target="_blank">
                <img src="__PUBLIC__/Admin/images/logo.png" alt="后台管理系统" />
            </a>
        </div>
    </div>
        <div class="righter nav-navicon" id="admin-nav">
        <div class="mainer">
            <div class="admin-navbar">
                <span class="float-right">
                    <a class="button button-little bg-main" href="{:U('Home/Index/index')}" target="_blank">前台首页</a>
                    <a class="button button-little bg-yellow" href="{:U('Manager/logout')}">注销登录</a>
                </span>
                <ul class="nav nav-inline admin-nav">
                    <li>
                        <a href="{:U('Index/index')}" class="icon-home">开始</a>
                        <ul>
                            <li>
                                <a href="Index/system">系统设置</a>
                            </li>
                            <li>
                                <a href="Index/content">内容管理</a>
                            </li>
                            <li>
                                <a href="#">订单管理</a>
                            </li>
                            <li>
                                <a href="#">会员管理</a>
                            </li>
                            <li>
                                <a href="#">文件管理</a>
                            </li>
                            <li>
                                <a href="#">栏目管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Index/system')}" class="icon-cog">系统</a>
                        <ul>
                            <li>
                                <a href="#">全局设置</a>
                            </li>
                            <li class="active">
                                <a href="#">系统设置</a>
                            </li>
                            <li>
                                <a href="#">会员设置</a>
                            </li>
                            <li>
                                <a href="#">积分设置</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Index/content')}" class="icon-file-text">内容</a>
                        <ul>
                            <li>
                                <a href="#">添加内容</a>
                            </li>
                            <li>
                                <a href="#">内容管理</a>
                            </li>
                            <li>
                                <a href="#">分类设置</a>
                            </li>
                            <li>
                                <a href="#">链接管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Auth/index')}" class="icon-shopping-cart">权限</a>
                        <ul>

                            <li>
                                <a href="">权限列表</a>
                            </li>
                            <li>
                                <a href="">角色列表</a>
                            </li>
                            <li>
                                <a href="">用户组</a>
                            </li>
                            <li>
                                <a href="">添加权限</a>
                            </li>
                            <li>
                                <a href="">添加用户</a>
                            </li>
                            <li>
                                <a href="">添加角色</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Member/index')}" class="icon-user">会员</a>
                        <ul>
                            <li>
                                <a href="">会员列表</a>
                            </li>
                            <li>
                                <a href="">添加会员</a>
                            </li>
                            <li>
                                <a href="">删除会员</a>
                            </li>
                            <li>
                                <a href="">积分设置</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('File/index')}" class="icon-file">文件</a>
                        <ul>
                            <li>
                                <a href="">文件</a>
                            </li>
                            <li>
                                <a href="">图片</a>
                            </li>
                            <li>
                                <a href="">文档</a>
                            </li>
                            <li>
                                <a href="">附件</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="icon-th-list">栏目</a>
                    </li>
                </ul>
            </div>
            <div class="admin-bread">
                <span>您好，admin，欢迎您的光临。</span>
                <ul class="bread">
                    <li>
                        <a href="{:U('Index/index')}" class="icon-home">开始</a>
                    </li>
                    <li>后台首页</li>
                </ul>
            </div>
        </div>
    </div>