<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>jankz网络共享平台</title>
  <meta name="keywords" content="吉贞网络共享,吉贞,jankz平台,jank,bootstrap,免费,响应式,资源分享,网络平台,框架">
  <meta name="description" content="吉贞网络平台,致力打造免费开源的资源共享平台,集合各种资源与技术,UI,semantic,pintuer,bootstrap,thinkphp">
  <link rel="stylesheet" href="__PUBLIC__/Common/pintuer/pintuer.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
  <block name="jank_css"></block>
  <script src="__PUBLIC__/Common/pintuer/jquery.js"></script>
  <script src="__PUBLIC__/Common/pintuer/pintuer.js"></script>
  <script src="__PUBLIC__/Common/pintuer/holder.js"></script>
  <script src="__PUBLIC__/Common/pintuer/respond.js"></script>
  <script src="__PUBLIC__/Common/laypage/laypage.js"></script>
  <!--   <block name="jank_js"></block>
-->
<link type="image/x-icon" href="__PUBLIC__/Home/images/favicon1.ico" rel="shortcut icon" />
<link href="__PUBLIC__/Home/images/favicon.png" rel="bookmark icon" />
</head>

<body>
<!--顶部-->

<block name="top"></block>
<block name="top2"></block>
<block name="nav"></block>
<block name="main"></block>
<block name="fream"></block>
<block name="zuopin"></block>
<block name="qianyan"></block>
<block name="qybase"></block>
<block name="more"></block>
<block name="about"></block>
<block name="login"></block>
<block name="register"></block>

<block name="jank_js"></block>

<!--底部-->
<block name="footer">
  <br />
  <br />
  <div class="container-layout bg-gray bg-inverse padding-big-top padding-big-bottom">
    <div class="container">
      <div class="table-responsive padding hidden-l">
        <ul class="nav nav-sitemap">
          <li>
            <a href="#">吉贞公益</a>
            <ul>
              <li>
                <a href="#">新闻公告</a>
              </li>
              <li>
                <a href="#">公益资讯</a>
              </li>
              <li>
                <a href="#">公益报道</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">吉贞系列</a>
            <ul>
              <li>
                <a href="#">吉贞文学</a>
              </li>
              <li>
                <a href="#">产品音乐</a>
              </li>
              <li>
                <a href="#">产品轻说</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">吉贞论坛</a>
            <ul>
              <li>
                <a href="#">科技前沿</a>
              </li>
              <li>
                <a href="#">技术交流</a>
              </li>
              <li>
                <a href="#">酷炫时尚</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">留言反馈</a>
          </li>
          <li>
            <a href="#">联系方式</a>
          </li>
        </ul>
      </div>
      <div class="text-center">版权所有 © jankz.com All Rights Reserved，粤ICP备：15049392</div>
    </div>
  </div>
</block>
</body>
</html>