<!-- <div class="container"> -->
		<!-- <div class="line-big"> -->
			<div class="xl12 xm3">
				<h2 class="bg-main text-white padding">快捷资讯</h2>
				<div class="padding-big bg">
					<ul class="list-media list-underline">
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/fream')}">
									<img src="__PUBLIC__/Home/images/index/th-pintuer.jpg" class="radius" alt="..."></a>
								<div class="media-body"> <strong>前端框架</strong>
									<!-- 拼图是优秀的响应式前端CSS开源框架，让前端开发像游戏般快乐、简单、灵活、便捷。 -->
									<small>让前端开发像游戏般快乐</small>
									<a class="button button-little border-red swing-hover margin-top" href="{:U('qianyan/fream')}">快捷入口</a>
								</div>
							</div>
						</li>
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/phpfream')}">
									<img src="__PUBLIC__/Home/images/qianyan/cbl/php.jpg" class="radius" alt="..."></a>
								<div class="media-body"> <strong>PHP框架</strong>
									<!-- Bootstrap是目前最受欢迎的前端框架。它简洁灵活，使得 Web 开发更加快捷。 -->
									<small>高效快捷，代码优雅</small>
									<a class="button button-little border-yellow swing-hover margin-top" href="{:U('qianyan/phpfream')}">快捷入口</a>
								</div>
							</div>
						</li>
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/linux')}">
									<img src="__PUBLIC__/Home/images/qianyan/cbl/linux.jpg" class="radius" alt="..."></a>
								<div class="media-body">
									<strong>Linux</strong>
									<!-- 作为一个开发框架，通过HTML语言帮助创建令人赏心悦目、响应式的布局。 -->
									<small>LAMP 不二选择</small>
									<a class="button button-little border-red swing-hover margin-top" href="{:U('qianyan/linux')}">快捷入口</a>
								</div>
							</div>
						</li>
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/tools')}">
									<img src="__PUBLIC__/Home/images/qianyan/cbl/sublime.jpg" class="radius" alt="..."></a>
								<div class="media-body">
									<strong>开发工具</strong>
									<!-- 架起设计与后端的桥梁 ，轻量级前端框架，简单免费，兼容性好，服务中国网站。 -->
									<small>开发者的帮手，事半功倍</small>
									<a class="button button-little border-black swing-hover margin-top" href="{:U('qianyan/tools')}">快捷入口</a>
								</div>
							</div>
						</li>
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/share')}">
									<img src="__PUBLIC__/Home/images/qianyan/cbl/share.jpg" class="radius" alt="..."></a>
								<div class="media-body">
									<strong>技术分享</strong>
									<!-- 一款轻量级、模块化的前端框架,可快速构建强大的web前端界面 -->
									<small>交流分享，快速提升技术</small>
									<a class="button button-little border-blue swing-hover margin-top" href="{:U('qianyan/share')}">快捷入口</a>
								</div>
							</div>
						</li>
						<li>
							<div class="media media-x">

								<a class="float-left" href="{:U('qianyan/moremuch')}">
									<img src="__PUBLIC__/Home/images/qianyan/cbl/wx.jpg" class="radius" alt="..."></a>
								<div class="media-body">
									<strong>包罗万象</strong>
									<!-- Amaze UI 汲取了很多优秀的社区资源，是中国首个开源 HTML5 跨屏前端框架 -->
									<small>开发者的帮手，事半功倍</small>
									<a class="button button-little border-green swing-hover margin-top" href="{:U('qianyan/moremuch')}">快捷入口</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<br />
			</div>