<extend name="Public:base"/>
<block name="nav">
  <include file="Public:nav" />
</block>
<block name="fream">
  <!-- 后端框架 -->
  <div class="container">
    <div class="line-middle list">
      <h3 class="padding-bottom border-bottom margin-bottom padding icon-caret-right"> PHP框架</h3>
      <!-- 后端框架循环开始 -->
      <foreach name="php" item="ph">
        <div class="xl12 xs6 xm3 xb3 margin-bottom">
          <div class="media border">
            <a class="img clearfix" href="{$ph.link}" target="_blank">
              <img src="{$ph.image}" class="img-responsive padding-small border bg-white" alt="" />
            </a>
            <div class="media-body padding-top border-bottom"> <strong class="text-center">{$ph.name}</strong>
              <a href="{$ph.link}" target="_blank" class="button button-little bg-main margin-small">访问</a>
            </div>
          </div>
        </div>
      </foreach>
      <!-- 循环结束 -->
      <br />

    </div>
  </div>
</block>