<extend name="Public:base"/>
<block name="nav">
  <include file="Public:nav" />
</block>
<block name="fream">
  <!-- 内容 -->
  <div class="container">
    <div class="line-middle list">
      <h3 class="padding icon-caret-right text-red"> 前端精选</h3>
      <!-- 前端框架循环开始 -->
      <foreach name="qianduan" item="qd">
        <div class="xl12 xs6 xm3 xb3 margin-bottom">
          <div class="media">
            <a class="img clearfix" href="{$qd.link}" target="_blank">
              <img src="{$qd.image}" class="img-responsive padding-small bg border radius-big" alt="" />
            </a>
            <div class="media-body padding-top border-bottom border-dotted"> <strong class="text-center">{$qd.name}</strong>
              <a href="{$qd.link}" target="_blank" class="button button-little bg-main margin-small">访问</a>
            </div>
          </div>
        </div>
      </foreach>
      <!-- 循环结束 -->
      <br />
      <input type="text" class="hidden" value="{$pag}" id="pages">
<div id="page1"></div>
    </div>
  </div>
</block>
  <block name="jank_js">
    <script type="text/javascript">
laypage({
    cont: 'page1',
    pages:$("#pages").val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
    skip: true, //是否开启跳页
    skin: '#AF0000',
    curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
        var page = location.search.match(/page=(\d+)/);
        return page ? page[1] : 1;
    }(),
    jump: function(e, first){ //触发分页后的回调
        if(!first){ //一定要加此判断，否则初始时会无限刷新
            location.href = '?page='+e.curr;
        }
    }
});
    </script>
  </block>