<extend name="Public:qianyan"/>
<block name="nav">
	<include file="Public:nav" />
</block>
<block name="cbl">
	<include file="Public:cbl" />
</block>
<block name="right">
	<div class="xl12 xm9">
		<div class="xs6">
			<img src="__PUBLIC__/Home/images/qianyan/zy/elementary.jpg" width="100%" class="img-responsive padding-big" />
			<ul class="list-unstyle height-big padding-top">
				<li>
					<span class="badge bg-red">新闻</span>
					<a href="http://www.jankz.com">特大喜讯，我们发布正式版了。</a>
				</li>
				<li>
					<span class="badge bg-main">新闻</span>
					<a href="http://www.jankz.com">是一款专业网页前端UI解决方案</a>
				</li>
				<li>
					<span class="badge bg-main">新闻</span>
					<a href="http://www.jankz.com">方便个性化、人性化的前端设计方法</a>
				</li>
				<li>
					<span class="badge bg-main">新闻</span>
					<a href="http://www.jankz.com">任何初学者都可快速建立美观的页面</a>
				</li>
				<li>
					<span class="badge bg-main">新闻</span>
					<a href="http://www.jankz.com">是一款专业网页前端UI解决方案</a>
				</li>
			</ul>
		</div>
		<div class="xs6">
			<img src="__PUBLIC__/Home/images/qianyan/zy/elementary.jpg" width="100%" class="img-responsive padding-big" />
			<ul class="list-unstyle height-big padding-top">
				<li>
					<span class="badge bg-yellow">新闻</span>
					<a href="http://www.jankz.com">特大喜讯，我们发布正式版了。</a>
				</li>
				<li>
					<span class="badge bg-sub">新闻</span>
					<a href="http://www.jankz.com">是一款专业网页前端UI解决方案</a>
				</li>
				<li>
					<span class="badge bg-sub">新闻</span>
					<a href="http://www.jankz.com">方便个性化、人性化的前端设计方法</a>
				</li>
				<li>
					<span class="badge bg-main">新闻</span>
					<a href="http://www.jankz.com">是一款专业网页前端UI解决方案</a>
				</li>
				<li>
					<span class="badge bg-sub">新闻</span>
					<a href="http://www.jankz.com">任何初学者都可快速建立美观的页面</a>
				</li>
			</ul>
		</div>
	</div>
</block>